<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>IDK</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='user-reg.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header"><a href="/"><img src="{{ url_for('static',filename='img/placeholder.png') }}" alt="Project Fate Generator" class="img-responsive"></a></div>
      </div>
    </nav>
    <div class="body-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="centering text-center">
            <div class="panel">
              <div class="panel-body">
      <!--<div align="center" class="body">
        <div align="center" class="user_reg">-->
         <h2>
        </div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
    </div></div></div>
  </body>
</html>