<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CourseHelper</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='user-reg.css') }}">
    
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script type="text/javascript">
    // $(function() {
    //     $("#searchtxt").autocomplete({
    //         source:function(request, response) {
    //             $.getJSON("{{url_for('autocomplete')}}",{
    //                 q: request.term, // in flask, "q" will be the argument to look for using request.args
    //             }, function(data) {
    //                 response(data.matching_results); // matching_results from jsonify
    //             });
    //         },
    //         minLength: 2,
    //         autoFocus: true,
    //         select: function(event, ui) {
    //             console.log(ui.item.value); // not in your question, but might help later
    //         },
    //         messages: {
    //           noResults: '',
    //           results: function() {}
    //         },
    //     }).focus(function() {
    //       $(this).autocomplete("search", "")
    //       console.log($(this).val())
    //     });
    // })
    // </script>

  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid-orig">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">
            <img alt="Brand" src="{{ url_for('static',filename='img/letter-C-blue-icon.png') }}">
            </a>-->
            <a class="navbar-brand" href="/">CourseHelper</a>
        </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"> Home <span class="sr-only">(current)</span></a></li>
        </ul>
        <form id="searchform" class="navbar-form" role="search" onsubmit="return onSubmitSearch()">
        <div class="form-group" style="display: inline;">
          <input type="text"  id="searchtxt" class="form-control" size="35" placeholder="Search for courses or users">
        </div>
          <button type="submit" class="btn-orig btn-default">Submit</button>
        </form>
        <!--<form id="searchuserform" class="navbar-form" role="search" onsubmit="return onSubmitSearchUser()">
        <div class="form-group" style="display: inline;">
          <input type="text"  id="searchusertxt" class="form-control" placeholder="Search for Users">
        </div>
          <button type="submit" class="btn-orig btn-default">Submit</button>
        </form>-->
      <form class="navbar-form navbar-right" role="logout" action="/logout">
        <div class="form-group">
          <button type="submit" class="btn-orig btn-default">Logout </button>
        </div>
      </form>
      </div>
      </nav>
         <script type="text/javascript">
      function onSubmitSearch()
      {
         var x = document.getElementById("searchtxt").value;
         if( x.trim() == "") {
          return false;
         }
         var str1 = "/courses/";
         var query = str1.concat(x);
         // console.log(query);
         document.getElementById("searchform").action = str1.concat(x,"/");
         return true;
        }

        function onSubmitSearchUser() {
         var x = document.getElementById("searchusertxt").value;
         if( x.trim() == "") {
          return false;
         }
         var str1 = "/profiles/";
         var query = str1.concat(x);
         // console.log(query);
         document.getElementById("searchuserform").action = str1.concat(x,"/");
         return true;
        }
    </script>

      <div class="body-container">
      <div class="container-fluid-cr">
        <!--<div class="row-fluid">-->
            <h1> Welcome, {{ username }} </h1>
            <div class="row">

            <div class="col-md-4">
            {% if courses %}
            <h4> Your courses: </h4>
            <ul class="list-group">
            {% for course in courses %}
              <a href="/courses/{{ course.courseid }}" class="list-group-item list-group-item-action"> {{ course.courseid }}</a>
            {% endfor %}
            </ul>
            {% else %}
            <h4> You aren't currently following any courses. You can follow a course by visiting the course page and they will appear on your home screen.</h4>
            {% endif %}
            </div>

 
            <div class="col-md-4">
            {% if followedusers %}
            <h4> Friends list: </h4>
            <ul class="list-group">
            {% for user in followedusers %}
              <a href="/profiles/{{ user.followeduser }}/" class="list-group-item list-group-item-action"> {{ user.followeduser }}</a>
            {% endfor %}
            </ul>
            {% else %}

            <h4> You aren't currently following anybody - use the search bar to find people to follow. </h4>

            {% endif %}
            </div>
            
            <div class="col-md-4">
            {% if posts %}
            <h4> Your posts: </h4>
            <ul class="list-group">
            {% for post in posts %}
              <a href="/courses/{{ post.courseid }}/" class="list-group-item list-group-item-action"> {{ post.post }} - {{ post.courseid }}</a>
            {% endfor %}
            </ul>
            {% else %}
            <h4> You haven't written any posts yet.</h4>
            {% endif %}
            </div>
          </div>

          <div class="row">
          <div class="col-md-4">
            {% if reviews %}
            <h4> Your reviews: </h4>
            <ul class="list-group">
            {% for review in reviews %}
              <a href="/courses/{{review.courseid}}/reviews" class="list-group-item list-group-item-action"> {{ review.review }} - {{ review.courseid }}</a>
            {% endfor %}
            </ul>
            {% else %}
            <h4> You haven't written any reviews yet.</h4>
            {% endif %}
            </div>

            <div class="col-md-4">
            {% if resources %}
            <h4> Your resources: </h4>
            <ul class="list-group">
            {% for resource in resources %}
              <a href="/courses/{{resource.courseid}}/resources" class="list-group-item list-group-item-action"> {{ resource.title }} 
              {% if resource.description %}: {{ resource.description }} {% endif %} - {{ resource.courseid }} </a>
            {% endfor %}
            </ul>
            {% else %}
            <h4> You haven't written any resources yet.</h4>
            {% endif %}
            </div>
          </div>

          </div>
        </div>
    </body>

